altgraph
async-generator
attrs
certifi
cffi
chardet
charset-normalizer
click
colorama
docopt
exceptiongroup
googletrans
h11
h2
helper
hpack
hstspreload
httpcore
httpx
hyperframe
idna
libretranslatepy
lxml
outcome
pefile
pycparser
pyinstaller
pyinstaller-hooks-contrib
PySocks
pytz
pywin32-ctypes
PyYAML
requests
rfc3986
schedule
selenium
sniffio
sortedcontainers
translate
trio
trio-websocket
urllib3
wsproto
yarg
